<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="application.properties">
    </properties>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
                <!--<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis_all?useSSL=false&amp;serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>-->
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="Lecture.xml"/>
        <mapper resource="StudentHealthFemale.xml"/>
        <mapper resource="StudentHealthMale.xml"/>
        <mapper resource="StudentLecture.xml"/>
        <mapper resource="StudentSelfcard.xml"/>
        <mapper resource="Student.xml"/>
    </mappers>
</configuration>